@import url("../js/library/fontawesome/css/all.css");
@import url("../js/library/themify-icons/themify-icons.css");
@import url("../assets/font/GillSans/stylesheet.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Gill Sans";
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
  color: #4D4D4F;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
}
@media screen and (min-width: 1200px) {
  a:hover {
    color: #ee7601;
  }
}

button,
select,
input,
textarea {
  border: none;
  outline: none;
  box-shadow: none;
  font-family: "Gill Sans";
  color: black;
  background: transparent;
}
button:focus,
select:focus,
input:focus,
textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
button:focus-visible,
select:focus-visible,
input:focus-visible,
textarea:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
}

.main {
  min-height: 60vh;
  padding-bottom: 12rem;
  margin-bottom: -12rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #fef8ea !important;
  color: rgba(46, 50, 55, 0.5) !important;
  -webkit-box-shadow: 0 0 0 1000px #fef8ea inset !important;
  -webkit-text-fill-color: rgba(46, 50, 55, 0.5) !important;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media screen and (max-width: 800px) {
  .container {
    padding: 0 0.8rem;
  }
}

.over {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.over::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

iframe {
  vertical-align: middle;
}

.effectShine {
  position: relative;
  overflow: hidden;
}

.effectShine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.wow {
  animation-duration: 1s;
}

.load-item {
  display: none;
}

.show-hide-toggle {
  cursor: pointer;
}

@-moz-keyframes phoneRing {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@-webkit-keyframes phoneRing {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@-o-keyframes phoneRing {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes phoneRing {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-35deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(35deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-35deg) scale(1.1) skew(1deg);
  }
  40% {
    transform: rotate(35deg) scale(1.1) skew(1deg);
  }
  50% {
    transform: rotate(-35%) scale(1) skew(1deg);
  }
  60% {
    transform: rotate(35%) scale(1) skew(1deg);
  }
  70% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
@-webkit-keyframes ZoomIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes ZoomIn {
  50% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes Spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes BTT {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUpCenter {
  from {
    opacity: 0;
    transform: translate3d(-50%, 0%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}
@keyframes halo {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes mirror {
  100% {
    transform: translate3d(2000%, 0, 0) rotate(35deg);
  }
}
@keyframes DownUp {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
@keyframes jellyTranForm {
  25% {
    transform: translate(-50%, -50%) scale(0.9, 1.1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1, 0.9);
  }
  75% {
    transform: translate(-50%, -50%) scale(0.95, 1.05);
  }
}
@keyframes jittery {
  5%, 50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
  }
  25% {
    transform: scale(1.05) rotate(5deg);
  }
  30% {
    transform: scale(1.05) rotate(-3deg);
  }
  35% {
    transform: scale(1.05) rotate(2deg);
  }
  40% {
    transform: scale(1.05) rotate(0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 1;
  }
  to {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@keyframes animate2 {
  0% {
    opacity: 1;
    transform: scale(1.05);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes fadeCus {
  0% {
    opacity: 0;
    transform: scale(0.94, 0.9);
    filter: grayscale(1);
    box-shadow: -2px -1px 121px 89px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -2px -1px 121px 89px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px -1px 121px 89px rgba(0, 0, 0, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: grayscale(0);
    box-shadow: -2px -1px 121px 89px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -2px -1px 121px 89px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px -1px 121px 89px rgba(0, 0, 0, 0.5);
  }
}
@keyframes changHeight {
  0% {
    height: 50%;
  }
  100% {
    height: 0;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gap > .col,
.no-gap > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.flex-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-between {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-shrink {
  flex-shrink: 0;
}
.flex-ai-start {
  align-items: flex-start;
}
.flex-ai-center {
  align-items: center;
}
.flex-ai-end {
  align-items: flex-end;
}
.flex-jc-start {
  justify-content: flex-start;
}
.flex-jc-center {
  justify-content: center;
}
.flex-jc-end {
  justify-content: flex-end;
}
.flex-jc-between {
  justify-content: space-between;
}
.flex-jc-around {
  justify-content: space-around;
}
.flex-jc-evenly {
  justify-content: space-evenly;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

.pos-relative {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.pos-fixed {
  position: fixed;
}
.pos-sticky {
  position: sticky;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
}

.w-full {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-screen {
  width: 100vw;
}
.w-fit {
  width: fit-content;
}
.w-max {
  width: max-content;
}
.w-min {
  width: min-content;
}

.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-50 {
  height: 50%;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.capital {
  text-transform: capitalize;
}

.rounded-full {
  border-radius: 100rem;
}
.rounded-inherit {
  border-radius: inherit;
}
.rounded-xl {
  border-radius: 20px;
}
.rounded-lg {
  border-radius: 12px;
}
.rounded-md {
  border-radius: 8px;
}
.rounded-sm {
  border-radius: 4px;
}

.border-none {
  border: none;
}
.border-current {
  border-color: currentColor;
}

.outline-none {
  outline: none;
}
.outline-current {
  outline-color: currentColor;
}

.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-fixed {
  background-attachment: fixed;
}

.pointer {
  cursor: pointer;
}
.pointer-none {
  pointer-events: none;
}

.resize-none {
  resize: none;
}

.block {
  display: block;
}

.in-block {
  display: inline-block;
}

.in-flex {
  display: inline-flex;
}

.d-none {
  display: none;
}

.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.back-to-top {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #005581;
  color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  bottom: 12rem;
  right: calc((100vw - 120rem) / 2);
  margin-right: max((100vw - 120rem) / -2 + 1.5rem, -11rem);
  z-index: 600;
  transform: translateX(3rem);
  opacity: 0;
  transition: 0.5s linear;
  cursor: pointer;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.back-to-top.active {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.back-to-top .triangle {
  display: block;
  width: 0;
  height: 0;
  z-index: 2;
  border: 8px solid transparent;
  border-bottom: 6px solid #fff;
  margin-top: -6px;
  border-radius: 5px;
}
.back-to-top .triangle:nth-child(1) {
  animation: BTT 1.5s linear 0.6s infinite;
}
.back-to-top .triangle:nth-child(2) {
  animation: BTT 1.5s linear 0.3s infinite;
}
.back-to-top .triangle:nth-child(3) {
  animation: BTT 1.5s linear 0s infinite;
}
@media only screen and (min-width: 901px) {
  .back-to-top:hover {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

.menu-nav {
  height: 100%;
}
@media (max-width: 1201px) {
  .menu-nav {
    width: 100%;
    overflow: auto;
    height: auto;
  }
}
.menu-nav > .menu-list {
  height: 100%;
  margin: 0 -3.2rem;
}
@media (max-width: 1300px) {
  .menu-nav > .menu-list {
    margin: 0 -1rem;
  }
}
@media (max-width: 1201px) {
  .menu-nav > .menu-list {
    height: auto;
    margin: 0;
    position: relative;
  }
}
.menu-nav > .menu-list > .menu-item {
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 1201px) {
  .menu-nav > .menu-list > .menu-item:hover > a {
    color: #005581;
  }
  .menu-nav > .menu-list > .menu-item:hover::before {
    width: 100%;
  }
}
@media (max-width: 1201px) {
  .menu-nav > .menu-list > .menu-item {
    width: 100%;
    flex-direction: column;
    align-items: start;
    border-top: 0.1rem solid #EE7601;
  }
  .menu-nav > .menu-list > .menu-item:last-child {
    border-bottom: 0.1rem solid #EE7601;
  }
}
@media screen and (min-width: 1201px) {
  .menu-nav > .menu-list > .menu-item:hover::before {
    width: 100%;
  }
}
.menu-nav > .menu-list > .menu-item > a {
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  white-space: nowrap;
  transition: all 0.3s;
  position: relative;
}
@media (max-width: 1201px) {
  .menu-nav > .menu-list > .menu-item > a {
    padding: 2rem 1.5rem;
    width: 100%;
    color: #EE7601;
    white-space: inherit;
  }
}
.menu-nav > .menu-list > .menu-item.current-menu-item > a, .menu-nav > .menu-list > .menu-item.current_page_item > a, .menu-nav > .menu-list > .menu-item.current_page_ancestor > a {
  color: #005581;
}
@media (min-width: 1200px) {
  .menu-nav > .menu-list > .menu-item.current-menu-item > a {
    color: #005581;
  }
}
.menu-nav > .menu-list > .menu-item > .menu-list {
  top: 100%;
}
@media screen and (min-width: 1200px) {
  .menu-nav > .menu-list > .menu-item > .menu-list {
    display: block !important;
  }
}
.menu-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1201px) {
  .menu-list {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }
}
@media (max-width: 1201px) {
  .menu-list .menu-list {
    position: relative !important;
  }
  .menu-list .menu-list::before {
    position: absolute;
    width: 1px;
    height: calc(100% - 3rem);
    content: "";
    background: #EE7601;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 1201px) {
  .menu-list .menu-list .dropdown a i {
    top: 1rem;
  }
}
.menu-list .current_page_ancestor > .menu-link {
  color: #005581 !important;
}
.menu-list .current_page_ancestor .current-menu-item > .menu-link {
  color: #005581;
}
.menu-item {
  position: relative;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
}
@media screen and (min-width: 1200px) and (min-width: 1201px) {
  .menu-item:hover > .menu-list {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 10px) !important;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1201px) {
  .menu-item:hover > .menu-list > .menu-list {
    transform: translate(0%, 0);
  }
}
.menu-item > a {
  font-size: 1.6rem;
  color: white;
  padding: 1rem 2.25rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.menu-item > a > i {
  display: none;
  font-weight: 400;
  margin-left: 0.4rem;
}
@media (max-width: 1201px) {
  .menu-item > a > i {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu-item > a > i {
    pointer-events: none;
  }
}
@media (max-width: 1201px) {
  .menu-item a i.active {
    transform: rotate(180deg) !important;
  }
}
.menu-item.dropdown > a > i {
  display: inline-block;
  position: absolute;
  right: -1rem;
  font-size: 1.2rem;
  width: 3.5rem;
  height: 3.5rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
@media (max-width: 1201px) {
  .menu-item.dropdown > a > i {
    right: 1.5rem;
    transition: all 0.3s ease-in-out;
  }
}
.menu-item > .menu-list {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 35.1rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 36px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  width: 100%;
  transform: translate(-50%, 0);
}
.menu-item > .menu-list::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 10px solid white;
}
@media screen and (max-width: 1200px) {
  .menu-item > .menu-list::before {
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .menu-item > .menu-list {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 0);
  }
  .menu-item > .menu-list:hover {
    transform: translate(-50%, 0);
  }
}
@media (max-width: 1200px) {
  .menu-item > .menu-list {
    position: static;
    padding-left: 1.5rem;
    background-color: transparent;
    box-shadow: none;
    display: none;
    transition: none;
    min-width: auto;
    padding-top: 0px;
    padding-bottom: 20px;
  }
}
.menu-item > .menu-list > .menu-item {
  margin-left: 0;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .menu-item > .menu-list > .menu-item:not(:last-child) > a {
    padding: 0 0 2.1rem;
    border-bottom: 0.1rem solid #d9d9d9;
    margin-bottom: 21px;
  }
}
.menu-item > .menu-list > .menu-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #EE7601;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  opacity: 0;
}
@media screen and (min-width: 1201px) {
  .menu-item > .menu-list > .menu-item:hover > a {
    color: #EE7601;
  }
  .menu-item > .menu-list > .menu-item:hover::before {
    opacity: 0;
  }
}
.menu-item > .menu-list > .menu-item > a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4D4D4F;
  padding: 15px 0;
}
@media screen and (min-width: 1200px) {
  .menu-item > .menu-list > .menu-item > a {
    padding: 0;
  }
}
.menu-item > .menu-list > .menu-item > a > i {
  transform: rotate(-90deg) translate(7px, 0);
}
@media (max-width: 1201px) {
  .menu-item > .menu-list > .menu-item > a > i {
    transform: none;
  }
}
.menu-item > .menu-list > .menu-item > .menu-list {
  left: 100%;
  transform: translate(0%, 0);
  top: 0;
}
@media (max-width: 1201px) {
  .menu-item > .menu-list > .menu-item > .menu-list {
    left: auto;
  }
}
.menu-top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 1201px) {
  .menu-top {
    padding: 0;
    border-bottom: 0;
  }
}
.menu-top .header-search {
  order: 2;
}
@media screen and (max-width: 600px) {
  .menu-top .header-search {
    margin-right: 0;
  }
}
.menu-mb > .menu-item:last-child {
  border-bottom: 0 !important;
}
@media screen and (min-width: 1201px) {
  .menu-mb {
    display: none;
  }
}

.menu-page {
  background-color: #005581;
}
@media screen and (max-width: 1200px) {
  .menu-page .container {
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .menu-page .menu-list {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .menu-page .menu-list::-webkit-scrollbar {
    display: none;
  }
  .menu-page .menu-list::-webkit-scrollbar {
    height: 0.2rem;
  }
}
.menu-page .menu-item {
  flex: 1;
  text-align: center;
}
@media screen and (min-width: 1201px) {
  .menu-page .menu-item:hover {
    background-color: #EE7601;
  }
}
.menu-page .menu-item:not(:first-child) {
  margin-left: 0;
}
.menu-page .menu-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 2.4rem;
  background-color: rgba(255, 255, 255, 0.4);
  left: 0;
}
.menu-page .menu-item::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  border-left: 1.5rem solid transparent;
  border-top: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 1.5rem solid #f8f8f8;
}
.menu-page .menu-item.current_page_item {
  background-color: #EE7601;
}
.menu-page .menu-item.current_page_item::after {
  opacity: 1;
  visibility: visible;
}
.menu-page .menu-item a {
  padding: 3rem 1.5rem;
  text-transform: uppercase;
  color: white;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .menu-page .menu-item a {
    white-space: nowrap;
    padding: 2.4rem 3rem;
  }
}

.m-mid {
  margin: 0 auto;
}

.m-end {
  margin-left: auto;
}

.m-start {
  margin-right: auto;
}

.f-mid {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.f-end {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}

.fl {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.fl-center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.f-space {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.bg-fade,
.bg-fade2,
.bg-fade3 {
  position: fixed;
  content: "";
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 980;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
}
.bg-fade.show,
.bg-fade2.show,
.bg-fade3.show {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 1202px) {
  .hd-bg {
    display: none;
  }
}

.bg-fade2 {
  z-index: 1000;
}
@media screen and (min-width: 1201px) {
  .bg-fade2 {
    display: none;
  }
}

@media screen and (max-width: 1201px) {
  .bg-fade3 {
    display: none;
  }
}

.list-wrap,
.d-wrap {
  margin-left: -1.2rem;
  margin-right: -1.2rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  .list-wrap,
  .d-wrap {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
  }
}
@media screen and (max-width: 600px) {
  .list-wrap,
  .d-wrap {
    margin-left: -0.3rem;
    margin-right: -0.3rem;
  }
}
.list-item,
.d-item {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
@media screen and (max-width: 800px) {
  .list-item,
  .d-item {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}
@media screen and (max-width: 600px) {
  .list-item,
  .d-item {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}
.list-2,
.d-2 {
  width: 50%;
}
.list-3,
.d-3 {
  width: 33.3333333333%;
}
@media screen and (max-width: 800px) {
  .list-3,
  .d-3 {
    width: 50%;
  }
}
.list-4,
.d-4 {
  width: 25%;
}
@media screen and (max-width: 1024px) {
  .list-4,
  .d-4 {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 600px) {
  .list-4,
  .d-4 {
    width: 50%;
  }
}
@media screen and (max-width: 350px) {
  .list-4,
  .d-4 {
    width: 100%;
  }
}
.list-5,
.d-5 {
  width: 20%;
}
.list-6,
.d-6 {
  width: 16.6666666667%;
}

.bg-abs {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.bg-abs img {
  object-fit: cover;
  height: 100%;
}

.clear {
  clear: both;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 996;
  background: transparent;
  transition: all 0.3s;
  padding: 20px 0;
}
@media (max-width: 1201px) {
  .header {
    padding: 5px 0;
  }
}
@media screen and (max-width: 1200px) {
  .header.out {
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
  }
}
@media screen and (min-width: 1202px) {
  .header.out .menu-top {
    height: 6rem;
  }
}
@media screen and (min-width: 1202px) {
  .header-tran {
    position: fixed;
    background: transparent;
  }
  .header-tran::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #EE7601;
    transform: translateY(-100%);
    transition: all 0.3s 0.1s ease-in-out;
  }
  .header-tran.out::before {
    transform: translateY(0%);
  }
}
.header-menu {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 998;
}
.header-menu .header-logo {
  width: 16rem;
  margin-left: 1rem;
}
.header-menu.out {
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
}
@media screen and (min-width: 1202px) {
  .header-menu {
    display: none;
  }
}
@media (max-width: 1201px) {
  .header-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
    width: 30vw;
    min-width: 28rem;
    background: white;
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
  }
  .header-menu.show {
    transform: translateX(0);
  }
}
@media (max-width: 1201px) and (max-width: 600px) {
  .header-menu {
    width: 100vw;
  }
}
.header-menu .header-logo {
  margin-bottom: 2rem;
  position: relative;
  order: 1;
  position: static;
  transform: none;
  width: 8rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1201px) {
  .header-menu .header-logo {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header-menu .header-logo {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1200px) {
  .header-menu .header-search {
    display: none;
  }
}
.header-menu .container {
  order: 2;
}
@media screen and (max-width: 1201px) {
  .header-menu .container {
    padding: 0;
    flex-wrap: wrap;
    overflow: auto;
  }
}
.header-menu .footer-ct-tit .text {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4;
  display: block;
}
.header-menu .footer-ct a {
  display: block;
  font-size: 1.4rem;
}
.header-menu .footer-ct p {
  display: flex;
  flex-direction: column;
}
.header-logo {
  width: 10.4rem;
}
.header-logo a {
  display: block;
}
.header-logo img {
  width: 100%;
  object-fit: contain;
  display: block;
}
@media (max-width: 1201px) {
  .header-logo {
    width: 60px;
  }
}
.header-logo.mb {
  filter: brightness(0);
}
.header .social {
  margin-right: 1.8rem;
}
@media screen and (max-width: 450px) {
  .header .social {
    display: none;
  }
}
.header .menu-top {
  transition: all 0.3s ease-in-out;
}
.header .header-nav {
  margin-left: auto;
  height: 100%;
  margin-right: 2.25rem;
}
@media screen and (max-width: 1201px) {
  .header .header-nav {
    display: none;
  }
}
.header .header-nav .menu-item {
  height: 100%;
}
.header .header-nav .menu-item .menu-item {
  padding: 0;
}
.header .header-nav .menu-item a {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .header-nav .menu-item.current-menu-item::before, .header .header-nav .menu-item.current_page_item::before, .header .header-nav .menu-item.current_page_ancestor::before {
  width: calc(100% - 4.4rem);
}
.header .header-nav .menu-item::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0.2rem;
  background: #EE7601;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}
@media screen and (min-width: 1201px) {
  .header .header-nav .menu-item:hover::before {
    width: calc(100% - 4.4rem);
  }
}
@media screen and (min-width: 1201px) {
  .header .header-nav .menu-item.dropdown > a {
    padding-right: 4rem;
  }
}
.header .header-nav .menu-item.dropdown i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
}
.header .header-nav > .menu-list {
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .header .btn {
    margin-left: auto;
    margin-right: 10px;
  }
}

.footer {
  background-color: #004b71;
  color: white;
  padding: 40px 0;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-column {
  margin: 10px;
}
.footer-column h4 {
  margin-bottom: 20px;
}
.footer-column ul {
  list-style-type: none;
}
.footer-column ul li {
  margin-bottom: 10px;
}
.footer-column p {
  margin-bottom: 10px;
}
.footer-column form {
  display: flex;
  margin-top: 20px;
}
.footer-column form input[type=email] {
  padding: 10px;
  border: none;
  flex-grow: 1;
}
.footer-column form button {
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.footer-column form button img {
  width: 20px;
  height: 20px;
}
.footer-column .social-media {
  margin-top: 20px;
}
.footer-column .social-media p {
  margin-bottom: 10px;
}
.footer-column .social-media ul {
  display: flex;
  list-style-type: none;
}
.footer-column .social-media ul li {
  margin-right: 10px;
}
.footer-column .social-media ul li img {
  width: 20px;
  height: 20px;
}
.footer-info {
  width: 40%;
  max-width: 600px;
}
.footer-bottom ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-bottom ul li {
  margin: 0 15px;
}
.footer-ct-col {
  width: 50%;
}

.social-media {
  display: flex;
}

.toggle-header {
  width: 3.2rem;
  height: 3.2rem;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1202px) {
  .toggle-header {
    display: none;
  }
}
.toggle-header .toggle-inner {
  perspective: 600px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.toggle-header.active .toggle-item:first-child {
  --rotateY: -180deg;
}
.toggle-header.active .toggle-item:last-child {
  --rotateY: 0deg;
}
.toggle-item {
  --rotateY: 0deg;
  transform: rotateY(var(--rotateY));
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 0.4rem;
  background: #EE7601;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s cubic-bezier(0.2, 0.64, 0.48, 1.24);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.toggle-item img {
  width: 2rem;
  height: 2rem;
  --rotate: 0deg;
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--rotate)) translateZ(6px);
}
.toggle-item:first-child {
  background: #005581;
}
.toggle-item:last-child {
  background: #005581;
  --rotateY: 180deg ;
}
.toggle-text {
  font-weight: 600;
  color: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
}
.toggle-text .icon {
  margin-left: 0.3rem;
  width: 2rem;
  height: 2rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  font-size: 1.4rem;
}
.toggle-text .icon i {
  font-weight: 400;
}
@media screen and (max-width: 1201px) {
  .toggle-text {
    display: none;
  }
}
.toggle-collapse {
  position: absolute;
  width: 6rem;
  height: 6rem;
  right: 0;
  bottom: 0;
  transform: translate(50%, 20%);
  box-shadow: 4px 0.4rem 4rem rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 1201px) {
  .toggle-collapse {
    width: 4.5rem;
    height: 4.5rem;
  }
}
.toggle-collapse .toggle-item {
  border-radius: 50%;
  background: white;
  color: #EE7601;
}
.toggle-collapse .toggle-inner {
  perspective: 600px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.toggle-collapse.active .toggle-item:first-child {
  --rotateY: -180deg;
}
.toggle-collapse.active .toggle-item:last-child {
  --rotateY: 0deg;
}

.show-hide-toggle {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  color: #EE7601;
  align-items: center;
}
.show-hide-toggle .icon-dr {
  width: 1.2rem;
  height: 1.2rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin-left: 0.6rem;
}

.btn {
  position: relative;
  width: fit-content;
  height: fit-content;
  background: #EE7601;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.8s, color 0.3s 0.3s, transform 0.3s;
  display: block;
  user-select: none;
  color: white;
  flex-shrink: 0;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.btn .icon {
  width: 1.2rem;
  height: 1.2rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-shrink: 0;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  color: white;
}
@media screen and (max-width: 600px) {
  .btn .icon {
    width: 2rem;
    height: 2rem;
  }
}
.btn .text {
  z-index: 4;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.btn-inner {
  position: relative;
  z-index: 4;
  text-align: center;
  padding: 0 36px;
  height: 52px;
  font-size: 1.6rem;
  line-height: 1;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  gap: 10px;
}
@media screen and (max-width: 1200px) {
  .btn-inner {
    height: 40px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 400px) {
  .btn-inner {
    padding: 1rem 1.6rem 0.9rem;
    font-size: 1.3rem;
    font-weight: 600;
  }
}
@media (min-width: 1201px) {
  .btn:hover {
    color: white;
    box-shadow: 16rem 0 0 0 #005581 inset, -16rem 0 0 0 #005581 inset;
  }
}
.btn-hover {
  position: relative;
  overflow: hidden;
  display: block;
}
.btn-hover::before {
  position: absolute;
  content: "";
  width: 140%;
  height: 102%;
  top: 0;
  left: -13%;
  background: #EE7601;
  transition: transform 0.6s 0.1s;
  z-index: 0;
  transform: skew(30deg) scaleX(0);
  transform-origin: right;
}
.btn-hover:after {
  position: absolute;
  content: "";
  width: 140%;
  height: 102%;
  top: 0;
  left: -13%;
  background: #72c3d5;
  transition: transform 0.6s;
  z-index: -1;
  transform: skew(30deg) scaleX(0);
  transform-origin: right;
}
@media (min-width: 1200px) {
  .btn-hover:hover::before {
    transform: skew(30deg) scaleX(1);
    transform-origin: left;
  }
  .btn-hover:hover::after {
    transform: skew(30deg) scaleX(1);
    transform-origin: left;
  }
}
.btn.t-white .btn-inner {
  color: white;
}
.btn.t-white .btn-inner .text {
  color: white;
}
.btn.t-pri .btn-inner {
  color: #EE7601;
}
.btn.t-pri .btn-inner .text {
  color: #EE7601;
}
@media (min-width: 1200px) {
  .btn.t-pri:hover .btn-inner {
    color: white;
  }
  .btn.t-pri:hover .btn-inner .text {
    color: white;
  }
}
.btn.fw {
  width: 100%;
}
.btn.center {
  margin-left: auto;
  margin-right: auto;
}
.btn-second {
  background: transparent;
  border: 2px solid white;
}
.btn-second .btn-inner {
  color: white;
}
@media (min-width: 1201px) {
  .btn-second:hover {
    color: white;
    box-shadow: 16rem 0 0 0 #EE7601 inset, -16rem 0 0 0 #EE7601 inset;
  }
}

/*# sourceMappingURL=style.css.map */
