.menu {
  &-nav {
    height: 100%;

    @media (max-width: 1201px) {
      width: 100%;
      overflow: auto;
      height: auto;
    }

    > .menu-list {
      height: 100%;
      margin: 0 -3.2rem;

      @media (max-width: 1300px) {
        margin: 0 -1rem;
      }

      @media (max-width: 1201px) {
        height: auto;
        margin: 0;
        // padding: 2rem 0;
        position: relative;
      }

      > .menu-item {
        height: 100%;
        @include flex;
        align-items: center;
        position: relative;

        @media (min-width: 1201px) {
          &:hover {
            > a {
              color: $color-second;
            }

            // background: $color-second;
            &::before {
              width: 100%;
            }
          }
        }

        @media (max-width: 1200px) {
          width: 100%;
          flex-direction: column;
          align-items: start;
          border-top: 0.1rem solid $color-second;

          &:last-child {
            border-bottom: 0.1rem solid $color-second;
          }
        }

        @include min($res-mobile-min) {
          &:hover {
            &::before {
              width: 100%;
            }
          }
        }

        > a {
          height: 100%;
          @include flex;
          align-items: center;
          padding: 1rem 2rem;
          white-space: nowrap;
          transition: all 0.3s;
          position: relative;

          @media (max-width: 1300px) {
            // padding: 2rem 2.5rem;
          }

          @media (max-width: 1201px) {
            padding: 2rem 1.5rem;
            width: 100%;
            color: $color-second;
            white-space: inherit;
          }
        }

        &.current-menu-item,
        &.current_page_item,
        &.current_page_ancestor {
          > a {
            color: $color-pri;
          }
        }

        &.current-menu-item {
          > a {
            @media (min-width: 1200px) {
              // background: $color-pri;
              color: $color-second;
            }
          }
        }

        > .menu-list {
          top: 100%;

          @include min(1200px) {
            display: block !important;
          }
        }
      }
    }
  }

  &-list {
    @include flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 1201px) {
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
    }

    .menu-list {
      @media (max-width: 1201px) {
        position: relative !important;

        &::before {
          position: absolute;
          width: 1px;
          height: calc(100% - 3rem);
          content: "";
          background: $color-pri;
          left: 1rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .dropdown {
        a {
          i {
            @media (min-width: 1201px) {
              top: 1rem;
            }
          }
        }
      }
    }

    .current_page_ancestor {
      > .menu-link {
        // @include color
        color: $color-second !important;
      }

      .current-menu-item {
        > .menu-link {
          // @include color
          color: $color-second;
        }
      }
    }
  }

  &-item {
    position: relative;
    @include transition(0.2s, ease-in-out);

    &:not(:first-child) {
      // margin-left: 2.4rem;
    }

    @include min(1200px) {
      &:hover {
        > .menu-list {
          @include min($res-mobile-min) {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 10px) !important;
          }

          > .menu-list {
            @include min($res-mobile-min) {
              transform: translate(0%, 0);
            }
          }
        }

        > a {
          // color: $color-second;
        }
      }
    }

    > a {
      // color: $color-second;
      font-size: 1.6rem;
      // color: white;
      color: white;
      padding: 1rem 2.25rem;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.05em;

      > i {
        display: none;
        font-weight: 400;
        margin-left: 0.4rem;

        @media (max-width: 1201px) {
          margin-left: 0;
        }

        @include min(1200px) {
          pointer-events: none;
        }
      }
    }

    a {
      i {
        // transition: none;

        &.active {
          @media (max-width: 1201px) {
            transform: rotate(180deg) !important;
          }
        }
      }
    }

    &.dropdown {
      > a {
        > i {
          display: inline-block;
          position: absolute;
          right: -1rem;
          // top: 1.8rem;
          font-size: 1.2rem;
          width: 3.5rem;
          height: 3.5rem;
          @include mid-flex;

          // @media (max-width: 1300px) {
          //     right: 0;
          // }

          @media (max-width: 1201px) {
            right: 1.5rem;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }

    > .menu-list {
      position: absolute;
      top: 100%;
      left: 50%;
      min-width: 35.1rem;
      @include flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: white;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 36px;
      @include transitionRe;
      width: 100%;
      transform: translate(-50%, 0);

      &::before {
        content: "";
        position: absolute;
        top: -10px; // Điều chỉnh để hình tam giác nằm trên parent
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;
        border-bottom: 10px solid white;

        @include max(1200px) {
          display: none;
        }
      }

      @include min($res-mobile-min) {
        @include hidden(-50%, 0);

        &:hover {
          transform: translate(-50%, 0);
        }
      }

      @media (max-width: 1200px) {
        position: static;
        padding-left: 1.5rem;
        background-color: transparent;
        box-shadow: none;
        display: none;
        transition: none;
        min-width: auto;
        padding-top: 0px;
        padding-bottom: 20px;
      }

      > .menu-item {
        margin-left: 0;
        width: 100%;

        &:not(:last-child) {
          > a {
            @include min(1200px) {
              padding: 0 0 2.1rem;
              border-bottom: 0.1rem solid #d9d9d9;
              margin-bottom: 21px;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 3px;
          background-color: $color-pri;
          @include transition(0.2s, ease-in-out);
          opacity: 0;
        }

        @include min($res-mobile-min) {
          &:hover {
            > a {
              color: $color-pri;
            }

            &::before {
              opacity: 0;
            }
          }
        }

        > a {
          @include flex;
          align-items: center;
          justify-content: space-between;
          color: $color-text;
          padding: 15px 0;
          @include min(1200px) {
            padding: 0;
          }

          > i {
            transform: rotate(-90deg) translate(7px, 0);
            // margin-top: 0.8rem;

            @media (max-width: 1201px) {
              transform: none;
            }
          }
        }

        > .menu-list {
          left: 100%;
          transform: translate(0%, 0);
          top: 0;

          @media (max-width: 1201px) {
            left: auto;
          }
        }
      }
    }
  }

  &-top {
    @include flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include max(1201px) {
      padding: 0;
      border-bottom: 0;
    }

    .header-search {
      order: 2;

      @include max(600px) {
        margin-right: 0;
      }
    }
  }

  &-mb {
    > .menu-item:last-child {
      border-bottom: 0 !important;
    }

    @include min(1201px) {
      display: none;
    }
  }
}

.menu-page {
  background-color: $color-second;

  .container {
    @include max($res-mobile) {
      padding: 0;
    }
  }

  .menu-list {
    @include max($res-mobile) {
      overflow-x: auto;
      overflow-y: hidden;
      @include scroll-hidden;

      &::-webkit-scrollbar {
        height: 0.2rem;
      }
    }
  }

  .menu-item {
    flex: 1;
    text-align: center;

    @include min($res-mobile-min) {
      &:hover {
        background-color: $color-pri;
      }
    }

    &:not(:first-child) {
      margin-left: 0;

      &::before {
        content: "";
        position: absolute;
        @include posi-vertical;
        width: 0.1rem;
        height: 2.4rem;
        background-color: rgba($color: white, $alpha: 0.4);
        left: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      @include posi-horizontal;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      @include transition(0.1s, ease-in-out);
      border-left: 1.5rem solid transparent;
      border-top: 1.5rem solid transparent;
      border-right: 1.5rem solid transparent;
      border-bottom: 1.5rem solid #f8f8f8;
    }

    &.current_page_item {
      background-color: $color-pri;

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }

    a {
      padding: 3rem 1.5rem;
      text-transform: uppercase;
      color: white;
      overflow: hidden;

      @include max($res-mobile) {
        white-space: nowrap;
        padding: 2.4rem 3rem;
      }
    }
  }
}
