$color-text: #4D4D4F;
$color-pri: #EE7601;
$color-second: #005581;
$color-third: green;

//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 500px;
//Distance
$distance-header: 120px;
$distance-header-mobile: 72px;
$distance-header-sticky: 60px;
$distance-header-mobile-sticky: 56px;
$border-line: 1px solid rgba(0, 0, 0, 0.1);
$radius: 6px;
