.section-solution {
    padding: 10rem 0;


}

.container {
    &-about {
        display: flex;
        position: relative;

        @media (min-width: 576px) and (max-width: 767px) {
            flex-direction: column-reverse;
        }

        @media (max-width: 576px) {
            flex-direction: column-reverse;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            flex-direction: column-reverse;
        }
    }

    .column {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;

        .title-left,
        .text-intro-solution {
            font-weight: 700;
            font-size: 38px;
            line-height: 41.8px;
            color: #005581;
            padding-bottom: 2rem;
            margin-top: 20px;

            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 25px;
            }

        }

        .content-left {
            padding-bottom: 5rem;
            font-weight: 400;
            font-size: 24px;
            line-height: 32.4px;


        }

        .box1 {
            &-right {
                .btn {
                    border-radius: 5px;
                    text-decoration: none;

                    .btn-inner {
                        display: flex;
                        align-items: center;
                        color: white;
                        font-size: 16px;
                    }

                    .icon img {
                        margin-left: 1rem;
                    }
                }
            }
            &-column {
                width: 85%;
    
                @media (max-width: 576px) {
                    width: 75%;
                }
    
                @media (max-width: 767px) {
                    width: 100%;
                }

                .sub-title {
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 35.2px;
                    color: #005581;
                    padding-bottom: 3rem;
                }
            }
        }

        .box2-column {
            width: 85%;

            @media (max-width: 576px) {
                width: 100%;
            }

            @media (min-width: 576px) and (max-width: 767px) {
                width: 100%;
            }

            .content-left {
                @media (min-width: 992px) and (max-width: 1199px) {
                    font-size: 17px;
                }
            }

            @media (min-width: 768px) and (max-width: 991px) {
                width: 100%;
            }
        }
    }

    .image-wrapper,
    .our-group-section,
    .our-story-section {
        width: 100%;
        display: flex;
        flex-direction: column;

        img {
            width: 95%;
            max-width: 100%;

            @media (min-width: 768px) and (max-width: 991px) {
                width: 100%;
            }
        }

        @media (max-width: 991px) {
            width: 100%;
            align-items: center;
        }
    }

    .our-group-section,
    .our-story-section {
        align-items: flex-end;
        @media (max-width: 991px) {
            width: 100%;
            align-items: center;
        }
    }

}

.bnn-about {
    min-height: 40px;
    padding-top: 0px;

    @media (max-width: 1201px) {
        min-height: 28px;
    }
}


.about-learder {
    padding: 7rem 0;
    position: relative;

    @media (min-width: 992px) and (max-width: 1199px) {
        padding: 3rem 0;
    }

    @media (max-width: 576px) {
        padding-top: 15px;
    }

    .title-leader {
        font-weight: 700;
        font-size: 38px;
        line-height: 41.8px;
        color: #005581;
        padding-bottom: 4rem;

        @media (min-width: 992px) and (max-width: 1199px) {
            font-size: 30px;
            padding-bottom: 1rem;
        }
    }
}

.about {
    &-list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0rem;

        @media (min-width: 992px) and (max-width: 1199px) {
            padding-top: 3rem;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            padding-top: 2rem;
        }

        @include max(1200px) {
            margin-left: -10px;
            margin-right: -10px;
        }

        @include max(850px) {
            margin-left: -8px;
            margin-right: -8px;
        }

        @media (max-width: 576px) {
            flex-direction: column;
        }
    }

    &-item {
        width: calc(100% / 4);
        padding: 0 15px;

        @media (min-width: 576px) and (max-width: 767px) {
            width: calc(100% / 2);
            padding: 10px;
        }

        @media (max-width: 576px) {
            width: 100%;
            padding: 10px;
        }

        &-img {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;

                @media (max-width: 576px) {
                    width: 100%;
                    height: 80%;
                }
            }

            .text-overlay {
                display: flex;
                padding-top: 0.5rem;
                justify-content: space-between;
            }

            .text-1 {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                height: 90px;

                .infor-name {
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 28.6px;
                    color: #005581;
                    padding-bottom: 0.5rem;

                    @media (min-width: 768px) and (max-width:1199px) {
                        font-size: 15px;
                    }

                    @media (min-width: 992px) and (max-width: 1199px) {
                        font-size: 22px;
                    }
                }

                .infor-role {
                    font-size: 16px;
                    line-height: 19.2px;

                    @media (min-width: 768px) and (max-width:1199px) {
                        font-size: 10px;
                    }

                    @media (min-width: 992px) and (max-width: 1199px) {
                        font-size: 13px;
                    }
                }

                .readmore {
                    font-weight: 700px;
                    font-size: 13.5px;
                    line-height: 13.5px;
                    color: #EE7601;
                    margin-top: auto;
                    display: inline-flex;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 100px;
                        height: 3px;
                        background-color: #EE7601;
                    }

                    .link-icon {
                        display: block;
                        width: 12px;
                        height: 12px;
                        margin-top: 1px;
                        margin-left: 10px;
                    }
                }
            }

            .social-media__icon {
                width: 18px;
                height: 18px;

                @media (min-width: 768px) and (max-width: 991px) {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}